



input{
  margin: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  border: 0.1px solid black;
  /* color: black; */
  background-color: rgb(82, 78, 78);
}

.homes{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  font-style: italic;
  font-weight: 500;
}
span{
  color: rgb(160, 53, 4);
}


